[submodule "code-repos/triton-distributed"]
	path = code-repos/triton-distributed
	url = https://github.com/ByteDance-Seed/Triton-distributed.git
[submodule "code-repos/mini-sglang"]
	path = code-repos/mini-sglang
	url = https://github.com/sgl-project/mini-sglang.git
[submodule "code-repos/nanoflow"]
	path = code-repos/nanoflow
	url = git@github.com:efeslab/Nanoflow.git
[submodule "code-repos/flashinfer"]
	path = code-repos/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer.git
